<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Plugin Configuration</title>
        <title lang="de-DE">Plugin Konfiguration</title>

        <input-field type="checkbox">
            <name>cloneProductCategories</name>
            <label>Clone product category association</label>
            <label lang="de-DE">Product Kategorie Assoziationen Klonen</label>
            <helpText>If active, products with to-be-cloned category assigned will be assigned cloned categories as well.</helpText>
            <helpText lang="de-DE">Wenn aktiv werden Produkte mit zu klonender Kategorie die geklonte Kategorie zugeordnet.</helpText>
        </input-field>
    </card>
</config>
